/* Center the upload container vertically */
/*.container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*}*/

/* Style the upload container */
.upload-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Style the upload heading */
.upload-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Style the file input container */
.file-input-container {
    position: relative;
    margin-bottom: 20px;
}

/* Style the file input */
.file-input {
    display: none;
}

/* Style the file label to look like a button */
.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #0056b3;
}

/* Style the upload button */
.upload-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #0056b3;
}
